{% extends "base.html" %}
{% block title %}TOP-N{% endblock %}
{% block inner %}
<form action="/top_n/" method="post">
<div class="row" style="font-family: 'Microsoft YaHei UI';">
    {% csrf_token %}
    <div class="col-md-4">

        <div class="input-group">
           <span class="input-group-addon" id="sizing-addon1">
               <span class="glyphicon glyphicon-calendar"></span>
           </span>
           <input style="font-size: 18px;font-family: 'Microsoft YaHei UI Light'" autocomplete="off" list="datelist" type="text" name="filter1" class="form-control" placeholder="日期选择" aria-describedby="basic-addon1">
        </div>

    </div>
    <div class="col-md-4">

        <div class="input-group">
           <span class="input-group-addon" id="sizing-addon1">
               <span class="glyphicon glyphicon-cog"></span>
           </span>
           <input style="font-size: 18px;font-family: 'Microsoft YaHei UI Light'" autocomplete="off" list="topcountlist" type="text" name="filter2" class="form-control" placeholder="数量选择" aria-describedby="basic-addon1">
        </div>

    </div>


    <div class="col-md-3">
        <input type="submit" class="btn btn-success">
        <datalist id="datelist">
                {% for each in datedrop_list %}
                <option value="{{ each.last_date|date:"Y-m-d"}}">
                {% endfor %}
    </div>
        <datalist id="topcountlist">
                <option value=10>
                <option value=20>
                <option value=30>
                <option value=50>
                <option value=100>




</div>



</form>
    <br>
<div class="row" style="font-family: 'Microsoft YaHei UI'">

         <div class="panel panel-default">
            <div class="panel-heading">
                 Top{{ topcount }}流量
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>区域</th>
                                <th>业务类型</th>
                                <th>端口带宽</th>
                                <th>端口名称</th>
                                <th>流量</th>
                                <th>统计日期</th>
                            </tr>
                        </thead>
                        <tbody>
                         {% for each in flow_top %}
                            <tr class="odd gradeX">
                                <td align="middle">{{ each.city }}</td>
                                <td align="middle">{{ each.cate }}</td>
                                <td align="middle">{{ each.band_width }}</td>
                                <td align="middle">{{ each.port_name }}</td>
                                <td align="right">{{ each.flow_data|floatformat }}</td>
                                <td align="middle">{{ each.last_date|date:"Y-m-d" }}</td>

                            </tr>
                         {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
          </div>
</div>
<div class="row" style="font-family: 'Microsoft YaHei UI'">

     <div class="panel panel-default">
        <div class="panel-heading">
             Top{{ topcount }}峰值利用率
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>区域</th>
                            <th>业务类型</th>
                            <th>端口带宽</th>
                            <th>端口名称</th>
                            <th>峰值利用率</th>
                            <th>统计日期</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for each in peak_top %}
                        <tr class="odd gradeX">
                            <td align="middle">{{ each.city }}</td>
                            <td align="middle">{{ each.cate }}</td>
                            <td align="middle">{{ each.band_width }}</td>
                            <td align="middle">{{ each.port_name }}</td>
                            <td align="right">{{ each.bu_peak|floatformat:2 }}</td>
                            <td align="middle">{{ each.last_date|date:"Y-m-d" }}</td>

                        </tr>
                     {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
      </div>
</div>
<div class="row" style="font-family: 'Microsoft YaHei UI'">

         <div class="panel panel-default">
            <div class="panel-heading">
                 Top{{ topcount }}忙时均值利用率
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>区域</th>
                                <th>业务类型</th>
                                <th>端口带宽</th>
                                <th>端口名称</th>
                                <th>忙时利用率</th>
                                <th>统计日期</th>
                            </tr>
                        </thead>
                        <tbody>
                         {% for each in busyavg_top %}
                            <tr class="odd gradeX">
                                <td align="middle">{{ each.city }}</td>
                                <td align="middle">{{ each.cate }}</td>
                                <td align="middle">{{ each.band_width }}</td>
                                <td align="middle">{{ each.port_name }}</td>
                                <td align="right">{{ each.bu_busy_avg|floatformat:2 }}</td>
                                <td align="middle">{{ each.last_date|date:"Y-m-d" }}</td>

                            </tr>
                         {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
          </div>
</div>
<div class="row" style="font-family: 'Microsoft YaHei UI'">

         <div class="panel panel-default">
            <div class="panel-heading">
                 Top{{ topcount }}均值利用率
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>区域</th>
                                <th>业务类型</th>
                                <th>端口带宽</th>
                                <th>端口名称</th>
                                <th>均值利用率</th>
                                <th>统计日期</th>
                            </tr>
                        </thead>
                        <tbody>
                         {% for each in avg_top %}
                            <tr class="odd gradeX">
                                <td align="middle">{{ each.city }}</td>
                                <td align="middle">{{ each.cate }}</td>
                                <td align="middle">{{ each.band_width }}</td>
                                <td align="middle">{{ each.port_name }}</td>
                                <td align="right">{{ each.bu_avg|floatformat:2 }}</td>
                                <td align="middle">{{ each.last_date|date:"Y-m-d" }}</td>

                            </tr>
                         {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
          </div>
</div>








{% endblock %}